################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PetApp-Backend/.vs/PetsBackend/FileContentIndex
/PetApp-Backend/WebApplication1/obj
/PetApp-Backend/WebApplication1/Properties
*.json
/PetApp-Backend/WebApplication1/bin/Debug/net7.0
/PetApp-Backend/.vs/PetsBackend/DesignTimeBuild
/PetApp-Backend/.vs/PetsBackend/v17
/PetApp-Backend/.vs/ProjectEvaluation
/.gitignore
/.gitignore
/.gitignore
/PetApp-Backend/WebApplication1/bin/Release/net7.0
/.gitignore
